{% load staticfiles %}
{% load i18n %}

	$('#id_{{ order_form.prefix }}-type').change(function(){
          var data=$(this).val();
          if (data === 'O') { // for 'ongoing' type
            $('#div_id_{{ order_form.prefix }}-days').show();
            $('.tr-active-day').hide();
            $('.selected-day').show();
            
          } else { // E for 'episodic' type
            $('#div_id_{{ order_form.prefix }}-days').hide();
            // if meal defaults type is day-specific, show all days
            var data_meal_defaults_type = $('input[name="{{ order_form.prefix }}-meal_defaults_type"]:checked').val();
            if (data_meal_defaults_type === 'D')
                $('.tr-active-day').show();
          }
                  
        });
    {% if order %}$('#id_{{ order_form.prefix }}-type').val('{{order.type}}').trigger('change');{%endif%}
    
    $('input[name="{{ order_form.prefix }}-meal_defaults_type"]:radio').change(function(){
          var data = $('input[name="{{ order_form.prefix }}-meal_defaults_type"]:checked').val();
          if (data === 'D') { // for day-specific meal defaults
            var data_order_type = $('#id_{{ order_form.prefix }}-type').val();
            if (data_order_type === 'O')
                $('.selected-day').show(); 
            else 
                $('.tr-active-day').show();
            $('.tr-everyday').hide();
            
          } else { // A for same defaults for everyday
            $('.tr-active-day').hide();
            $('.tr-everyday').show();
            
          }
                  
        });
        
    $('input[name="{{ order_form.prefix }}-meal_defaults_type"][value="A"]').trigger('change');
        
    // when user selects a button for a service day,
    // it checks/unchecks the corresponding hidden check box,
    // and (if meal_defaults_type is day-specific) 
    // it shows/hides the corresponding form for entering meal defaults
    
    
	$('.btn-order-day').on('click', function () {
        $(this).toggleClass('btn-success').toggleClass('btn-default');
        
        var hidden_field_id = '#'+$(this).val();
        var meal_defaults_tr = '#tr_'+$(this).val();
        
        var meal_defaults_type = $('input[name="{{ order_form.prefix }}-meal_defaults_type"]:checked').val();
        
        // show meal defaults form for selected day only if defaults are set per day
        var meal_defaults_per_day = (meal_defaults_type === 'D');
        
        
        if ($(hidden_field_id).prop('checked')) {
            $(hidden_field_id).prop("checked", false);
            $(meal_defaults_tr).toggleClass('selected-day');
            if (meal_defaults_per_day)
            	$(meal_defaults_tr).hide();
           }
        else {
            $(hidden_field_id).prop("checked", true);
            $(meal_defaults_tr).toggleClass('selected-day');
            if (meal_defaults_per_day)
            	$(meal_defaults_tr).show();
        }
            
    })
    
    // change of meal_defaults_type
    // same for every day : hide tr for active days + show tr for inactive day (i.e. tr for 'everyday')
    // day-specific : show tr for active days (if type = ongoing : show only tr corresponding to selected days)
    //					+ hide tr for inactive day
    
    {% for day in meal_service_days.all %}
        $(".meal_row_meals_{{day.sort_order}}").formset({
            prefix: 'meals_{{day.sort_order}}',
            formCssClass: 'dynamic_meals_{{day.sort_order}}',
            addText: '<i class="fa fa-plus-circle"></i> {% trans "Add meal" %}',
            deleteText: '<i class="fa fa-remove"></i> {% trans "Remove meal" %}'
        });
        var initial_forms = $("#id_mealsides_{{day.sort_order}}-INITIAL_FORMS").val()
        if (initial_forms === "0") {
            
            $("div.container-{{day.sort_order}}-form div").formset({
                prefix: 'mealsides_{{day.sort_order}}',
                formTemplate: '#id_{{day.sort_order}}_empty_form',
                formCssClass: 'dynamic_sides_{{day.sort_order}}',
                addText: '<i class="fa fa-plus-circle"></i> {% trans "Add side" %}',
                deleteText: '<i class="fa fa-remove"></i> {% trans "Remove side" %}'
            });    
        } else {
            
            $(".side_row_mealsides_{{day.sort_order}}").formset({
                prefix: 'mealsides_{{day.sort_order}}',
                //formTemplate: '#id_{{day.sort_order}}_empty_form',
                formCssClass: 'dynamic_sides_{{day.sort_order}}',
                addText: '<i class="fa fa-plus-circle"></i> {% trans "Add side" %}',
                deleteText: '<i class="fa fa-remove"> {% trans "Remove side" %}'
                    
            });
        }
    {% endfor %}
    
    
        
