{% load staticfiles i18n %}
{% load crispy_forms_tags %}
{% load core_filters %}


<form method="post" id="{{ view.entity_type }}-create-form" action="{{ view.form_action }}">{% csrf_token %}                   
                        
    <div class="row">
        <div class="col-sm-12">
            <div class="container-fluid">
                <h4 class="pageHeader">{{ form.helper.form_title }}</h4>
                
                <div id="form-main" class="well row">
                    {% crispy form %}
                </div>
                
                <div id="form-sw" class="well row">
                     
                     {% for form in org_form.forms %}
                            {% crispy form %}
                            
                    {% endfor %}
                        
                    {{ org_form.management_form }}
                </div>
                
                {% include "contacts/_contact_info_fields.html" %}
                
                <div class="form-actions">
                    <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-contact">
                </div>
            </div>
        </div>
    </div>
</form>


