{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block breadcrumb %}
	<li><a href="{% url 'org_list' %}">Organizations</a></li>
	<li><a href="#">{{ form.helper.form_title }}</a></li>	       				
{% endblock breadcrumb %}

{% block css_extra %}
<link href="{% static 'plugins/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
{% endblock css_extra %}

{% block content %}	     
{% include 'contacts/organization_form_inner.html' %}
{% endblock content %}	     

{% block javascript_extra %}

<script src="{% static 'plugins/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'plugins/jquery-formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
   $(function() {

        {% include "contacts/_contact_form_js.html" %}  
		
	});
});


</script>
{% endblock javascript_extra %}
