{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block breadcrumb %}
	<li><a href="{% url 'org_list' %}">Organizations</a></li>
	<li><a href="#">{{ form.helper.form_title }}</a></li>	       				
{% endblock breadcrumb %}

{% block css_extra %}
<link href="{% static 'plugins/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
{% endblock css_extra %}

{% block content %}	     
{% include 'contacts/organization_form_inner.html' %}
{% endblock content %}	     

{% block javascript_extra %}

<script src="{% static 'plugins/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'plugins/jquery-formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	//$('#id_cdif_exd').removeAttr('class');
	//$('#id_cdif_exd').removeClass('checkboxinput');
	//$('input[type="button"]').
   $(function() {
   	
    //$( "#radio_id_gender" ).buttonset();
		
    	$('.div-client-address').formset({
        	prefix: '{{ address_form.prefix }}',
			formCssClass: 'dynamic-formsetaddress',
			//autoAddLinks: false               // do not add add and delete links to the formsets
		});
		$('.phone_row').formset({
        	prefix: '{{ phone_form.prefix }}',
			formCssClass: 'dynamic-formsetphone',
			//autoAddLinks: false               // do not add add and delete links to the formsets
		});
		
	});
	
	 
   //DashboardTabChecker();
});


</script>
{% endblock javascript_extra %}
