{% extends 'clients/base_profile.html' %}

{% load selectable_tags %}
{% include_jquery_libs %}
{% load staticfiles %}
{% load i18n %}

{% load crispy_forms_tags %}



{% block tab-content %}
<div id="tab-ident" class="tab-pane active">
<h4><span>{{ headline }}</h4>
</p>

<form method="post" class="form-horizontal" action="{% url 'client_profile_contact_edit' pk=object.id %}"> 
{% csrf_token %}
{% if contact_form.errors or address_form.errors or phones_form.errors %}
    <p class="text-danger"><strong>{% trans 'Please correct these errors and save again.' %}</strong></p>
{% endif %}
                        
{% include "contacts/_contact_info_fields.html" %}

<div class="form-actions pull-right">
    <input type="submit" name="save" value="Save changes" class="btn btn-primary" id="submit-id-save" />
    <a class="btn btn-default" href="{% url 'client_profile_contact' pk=object.id %}">Cancel</a>
</div>
</form>
</div>
{% endblock tab-content %}

{% block javascript_extra %}

<script src="{% static 'plugins/jquery-formset/jquery.formset.js' %}"></script>
<script src="{% static 'plugins/jquery-ui/jquery-ui.js' %}"></script>

<script>

$(document).ready(function() {
     
{% include "contacts/_contact_info_js.html" %}
    

});

</script>
{% endblock javascript_extra %}