{% extends 'clients/base_profile.html' %}

{% load i18n %}

{% load crispy_forms_tags %}


{% block tab-content %}
<div id="tab-comm" class="tab-pane active">
                        
<h4><span>{{ headline }}</span>
    <div class="pull-right">
        <a class="btn btn-default" href="{% url 'client_profile_order'  object.pk %}">{% trans 'Cancel' %}</a>
        
        <input type="submit" name="submit" value="{% trans 'Save' %}" class="btn btn-primary" id="submit-save">
        
    </div>
</h4>

{% crispy order_form %}
<div class="row">
   
    <div class="col-xs-offset-2 col-xs-10">
        
        <div class="row">
            <table style="table-layout: fixed;" class="col-xs-12 table table-user-information">
            <tbody>
            {% for mealdef in order.get_meal_defaults %}
            <tr id="tr_id_order-days_{{ day.pk }}" 
                class="row {%if day.active%}tr-active-day{%else%}tr-everyday{%endif%}"
                >
                <td class="col-xs-2">
                    {{ mealdef.day }}
                </td>
                <td class="col-xs-10">
                    
                        <div class="row">
                            
                        <div class="col-xs-6">
                            {% for meal in mealdef.meals.all %}
                                <span class="row">{{ meal.quantity }} {% trans 'Meal' %} {{ meal.get_size_display }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-xs-6">
                            {% for defside in mealdef.mealdefaultside_set.all %}
                                <span class="row">{{ defside.quantity }} {{ defside.side }}</span> 
                            {% endfor %}
                        </div>
                        </div>
                    
                </td>
            {% endfor %}
        </table>
        </div>
    </div>


</div>

</div>

{% endblock tab-content %}

{% block javascript_extra_tab %}
{% endblock javascript_extra_tab %}
