{% extends 'clients/base_profile.html' %}

{% load i18n %}

{% load crispy_forms_tags %}


{% block tab-content %}
<div id="tab-ident" class="tab-pane active">
<h4><span>{{ headline }}</h4>
</p>

{% crispy form %}

</div>

{% endblock tab-content %}

{% block javascript_extra_tab %}
<script>
$(document).ready(function() {
    {% include 'clients/_client_relationships_js.html' with rel_form=None %}
    {% include 'core/_divmodal_js.html' with button_id='#new-contact-button' load_url=contact_create_url form_id='#contact-create-form' select_id='#' %}
});
</script>
{% endblock javascript_extra_tab %}
