{% extends 'clients/base_profile.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load crispy_forms_tags %}
{% load verbose_names %}
{% load core_filters %}

{% block tab-content %}
<div id="tab-comm" class="tab-pane active">
	    				
<h4><span>{% trans 'Referral information' %}</span>
	<a class="btn btn-primary pull-right" href="#" id="show-form-lines">
		<i class="fa fa-edit"></i>
		Edit</a>
</h4>
<div class="row form-line pull-right">
	<button type="cancel" name="cancel" class="btn btn-secondary" id="cancel-form">Cancel</button>
	<input type="submit" name="form-submit" value="Save changes" class="btn btn-primary" id="submit-form">
</div>

<div class="row">
<table class="table table-user-information">
<tbody>
  <tr>
    <td>{% trans 'Date of referral' %}</td>
    <td>{{ referral.ref_date }}
	</td>
  </tr>
  <tr class="form-line">
    <td></td>
    <td>
    	
    	{{ form.ref_date|as_crispy_field:"bootstrap" }}
    </td>
  </tr>
  <tr>
    <td>{% trans 'Reason for referral' %}</td>
    <td>{% for reason in referral.reasons.all %}
   		{% if LANGUAGE_CODE == 'en' %}{{ reason.reason_en }}
   		{% else %}{{ reason.reason_fr }}
   		{% endif %}
   		<br>
		{% empty %}
    	{% trans 'No reason defined yet' %}
		{% endfor %}
	</td>
  </tr>
  <tr class="form-line">
    <td></td>
    <td>
    	{{ form.reasons.errors }}
    	{{ form.reasons|as_crispy_field:"bootstrap" }}
    </td>
  </tr>
  <tr>
    <td>{% trans 'Referral Notes' %}</td>
    <td>{{ referral.notes|linebreaks }}
	</td>
  </tr>
  <tr class="form-line">
    <td></td>
    <td>
    	{{ form.notes.errors }}
    	{{ form.notes|as_crispy_field:"bootstrap" }}
    </td>
  </tr>
    <tr>
    <td>{% trans 'Referring Contact' %}</td>
    <td><p>{{ referral.contact.get_full_name|linebreaks }}
    	{{ referral.contact.get_category_display }}: {{ referral.contact.type }}
    	{% if referral.contact.organization %} {{ referral.contact.organization }} {% endif %}
    	<br>
    	{% for phone in referral.contact.phones.all %}
    	<div class="phone">
			<i class="fa fa-phone"></i>
			<span>{{ phone.type }}: {{ phone.number }}</span>
		</div>
		{% endfor %}
		</p>
	</td>
  </tr>
  <tr class="form-line">
    <td></td>
    <td>
    	{{ form.contact.errors }}
    	{{ form.contact|as_crispy_field:"bootstrap" }}
    	<div id="ref_contact_form">
    		{% crispy contact_form  %}
    		{% crispy contact_phone_form contact_phone_form_helper %}
    	</div>
    </td>
  </tr>
  
</tbody>
</table>
</div>
</form>
</div>
{% endblock tab-content %}
{% block javascript_extra_tab %}
   $( "#ref_contact_form" ).hide();
   $('#id_contact').change(function(){
      var data= $(this).val();
      if (data === '')
      	$( "#ref_contact_form" ).show();
      else
      	$( "#ref_contact_form" ).hide();
                  
   });
   $(".phone_row").formset({
            prefix: '{{ phone_form.prefix }}'
        });
   // Temp (to change) *** copied-paste from contacts/contact_form.html
   $('#id_contact-category').change(function(){
      var data=$(this).val();
      if (data === 'N') { // for 'next of kin' category
      	$('#div_id_contact-nok_type').show();
      	$('#div_id_contact-cw_type').hide();
      	$('#div_id_contact-organization').hide();
      	$('#id_contact-organization').val('');
      	$('#id_contact-organization').prop('required',false);
      } else { // W for 'case worker' category
      	$('#div_id_contact-nok_type').hide();
      	$('#div_id_contact-cw_type').show();
      	$('#div_id_contact-organization').show();
      	$('#id_contact-organization').prop('required',true);
      }
      	          
    });
    $('#id_contact-category').val('W').trigger('change');
    // end of copied=paste section
    
{% endblock javascript_extra_tab %}
