{% extends 'base.html' %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}
{% load core_filters %}

{% block css_extra %}
<link href="{% static 'plugins/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
{% endblock css_extra %}

{% block breadcrumb %}
	<li><a href="{% url 'client_list' %}">Clients</a></li>
	<li><a href="#">{{ form.helper.form_title }}</a></li>	       				
{% endblock breadcrumb %}
{% block content %}	      			  

<form method="post">{% csrf_token %}					
	    				
	<div class="row">
	    <div class="col-sm-12">
	        <div class="box">
	    			
	    			<div class="box-content"> 
	    				{% if form.errors %}
	    				<p class="text-danger"><strong>{% trans 'Please correct these errors and save again.' %}</strong></p>
    					<dl class="text-danger list-unstyled">
    					{% with form|nice_errors as qq %} 
    					{% for error_name,desc in qq.items %} 
    						<dt>{{ error_name }}:</dt>
    						<dd>{{ desc }}</dd> 
    					{% endfor %} 
    					</dl> 
    					{% endwith %}
	    				
	    				{% endif %}
	    				
		   				{% crispy form %}
		   				
		   				<div id="div-client-address" class="inline">
		   					<h4>Address</h4>
		   					{% crispy address_form address_form_helper %}
		   				</div>
		   				<div id="div-client-phone">
		   					<h4>Phone</h4>
		   					{% crispy phone_form phone_form_helper %}
		   				</div>
		   				
		   				<div>
		   					<button type="cancel" name="cancel" class="btn btn-secondary" id="cancel-form">Cancel</button>
							<input type="submit" name="submit" value="Save changes" class="btn btn-primary" id="submit-form">
						</div>
					</div>
			</div>
		</div>
	</div>
</form>
{% endblock content %}

{% block javascript_extra %}

<script src="{% static 'plugins/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'plugins/jquery-formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	//$('#id_cdif_exd').removeAttr('class');
	//$('#id_cdif_exd').removeClass('checkboxinput');
	//$('input[type="button"]').
   $(function() {
   	
    //$( "#radio_id_gender" ).buttonset();
    $( "#id_birth_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      minDate: new Date(1900, 1 - 1, 1),
      yearRange: "c-100:c-20",
      dateFormat: "dd/mm/yy"
    });
    
	$(function() {
		
    	//$('#div-client-address').formset({
        //	prefix: '{{ address_form.prefix }}',
		//	formCssClass: 'dynamic-formsetaddress',
		//	//autoAddLinks: false               // do not add add and delete links to the formsets
		//});
		$('.phone_row').formset({
        	prefix: '{{ phone_form.prefix }}',
			formCssClass: 'dynamic-formsetphone',
			//autoAddLinks: false               // do not add add and delete links to the formsets
		});
		
	});
	
	
  });
 
   //DashboardTabChecker();
});

</script>
{% endblock javascript_extra %}

