{% extends 'clients/base_profile.html' %}

{% load i18n %}

{% load crispy_forms_tags %}


{% block tab-content %}
<div id="tab-comm" class="tab-pane active">
<form method="post" class="form-horizontal" action="{% url 'client_profile_order_edit' pk=object.id %}"> 
                      
<h4><span>{{ headline }}</span>
    <div class="pull-right">
        <a class="btn btn-default" href="{% url 'client_profile_order'  object.pk %}">{% trans 'Cancel' %}</a>
        
        <input type="submit" name="submit" value="{% trans 'Save' %}" class="btn btn-primary" id="submit-save">
        
    </div>
</h4>

{% include 'orders/_meal_defaults_form.html' %}
</form>
</div> <!-- end tab-comm -->


{% endblock tab-content %}

{% block javascript_extra_tab %}
<script>
    /* Project specific Javascript goes here. */
$(document).ready(function() {
    {% include 'orders/_meal_defaults_js.html' %}
});
</script>
{% endblock javascript_extra_tab %}
