{% load staticfiles i18n %}
{% load crispy_forms_tags %}
{% load core_filters %}

{% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
<form method="post" id="relationship-create-form" action="{{ view.form_action }}">{% csrf_token %}                   
                        
    <div class="row">
        <div class="col-sm-12">
            <div class="container-fluid">
                <h4 class="pageHeader">{{ form.helper.form_title }}</h4>
                
                <div id="form-main" class="well row">
                    {% crispy form %}
                </div>
                
                <div class="form-actions">
                    <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-contact">
                </div>
            </div>
        </div>
    </div>
</form>
<script src="{% static 'plugins/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'plugins/jquery-formset/jquery.formset.js' %}"></script>
<script>
$(document).ready(function() {
{% include 'clients/_client_relationships_js.html' with rel_form=None %}
});
</script>
